.produtosContainer {
  padding-inline: 20px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 54px;

  & h2 {
    font-size: 32px;
    font-weight: 800;
    line-height: 130%;
  }

  & .produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 26px;
  }
}